.count-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 5px;
  padding: 0;
}

.word-name {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  color: #1e293b;
  margin: 0;
}

.character-count {
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
  color: #0f172a;
  margin: 0;
}
